<header>
  <h1 class='entry-title'>{{ title }}</h1>
  <p class="published">
    {{#if date }}
    <time datetime="{{ date }}">{{ date }}</time>
    {{/if}}
    <span class='theme icon' title='background color toggle'>{{{ yingYang }}}</span>
  </p>
  {{#if stats }}
    <div class="stats">
      <table>
        {{#each stats }}
          {{#if (isEven @index) }}
            <tr><th>{{ this }}</th>
          {{else}}
            <td>{{ this }}</td></tr>
          {{/if}}
        {{/each }}
    </table>
  </div>
{{/if }}
</header>
{{#if imgHref }}
  <img src="{{ imgHref }}" alt="photo" class='entry-content-asset'>
{{/if}}
{{#if body }}
<section class="entry-content">{{{ body }}}</section>
{{/if}}
<footer>
  <p class="signature">
    <a href="//trailjournals.com/journal/entry/{{ entryId }}"><img class="icon rss" src="/trailjournals.png"
      alt="trailjournals logo"></a>
    {{#if hikerId }}
      <a href="{{ hikerHref }}"><img class='icon rss' src='/rss.svg' alt='rss icon'></a>
      <a href="//www.trailjournals.com/journal/about/{{ hikerId }}">
    {{/if}}
    {{#if signature }}
      <em>{{ signature}}</em>
    {{/if}}
    {{#if hikerId }}
      </a>
    {{/if}}
  </p>
</footer>
<div class='nav'></div>