<div class="logo icon">
  <%= File.read('public/favicon.svg') %>
</div>
<form class="entry-form" action="/entry" method="get">
  <header>
    <h2>Which post would you like to read?</h2>
    <span class='theme icon' src='/ying-yang.svg' title='background color toggle'><%= File.read('public/ying-yang.svg') %></span>
  </header>
  <label for="id">Entry ID:</label>
  <input type="text" name="id" value="">
  <input type="submit" value="Read"></input>
</form>

<p>
  Don't have the ID of a specific post to read? Pick one from the journals of the trails I'm most interested in. Then come back here and enter the ID to read it in a much cleaner format.
</p>
<% trails.each do |trail| %>
  <h3><%= trail[:abbr] %></h3>
  <div class="years">
    <% years.each do |year| %>
      <a href="http://www.trailjournals.com/journals/<%= trail[:path] %>/<%= year %>" target="_blank"><%= year %></a>
    <% end %>    
  </div>
<% end %>
